*{
    margin:0;
    padding: 0;
}
body{
    background: #3E3F53 !important;
}

.side-bar{
    width: 94px;
    height: 100%;
    position: fixed;
    z-index: 9999;
    margin-top: -75px;
    background: #262734;
    box-shadow: 0px 4px 20px rgba(38, 39, 52, 0.8);
    border-radius: 5px 40px 40px 5px;
}
.container{
    padding: 20px 10px;
}
.plus-btn{
    float: left;
}
.cube-icon{
    font-size: 54px;
    color: #53556E;
    padding: 10px 57px 0px 57px;
}
.nav{
    height: 70px;
    background: #343548;
    border-radius: 5px 5px 40px 40px;
}
.nav-container{
    width: 1400px;
    padding: 20px 20px 20px 170px;
}
.logo-container{
    padding: 20px 25px; 
    background: rgb(255, 255, 255);
    border-radius: 5px 40px 0px 5px;
}

input[type=date] ,input[type=time]{
    height: 35px;
    margin: 0 auto;
    font-family: arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #ffffff;
    outline: none;
    border: 1px solid rgb(41, 158, 183);
    border-radius: 3px;
    padding: 0 3px;
    color: rgb(41, 158, 183);
  }
  
  input[type=date]::-webkit-datetime-edit-month-field {
    color: rgb(41, 158, 183);
  }
  input[type=date]::-webkit-datetime-edit-day-field {
    color: rgb(41, 158, 183);
  }
  input[type=date]::-webkit-datetime-edit-year-field {
    color: rgb(41, 158, 183);
  }
  input[type=date]::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
    right: 5px;
    margin-right: 4px;
  }
  input[type=date]::-webkit-inner-spin-button {
    height: 30px;
  }
  input[type=date]::-webkit-calendar-picker-indicator {
    color: rgb(41, 158, 183);
  }
  input[type=date]::-webkit-calendar-picker-indicator:hover {
    background-color: #fff;
    color:  rgb(52, 197, 230);
    cursor: pointer;
  }
  input[type=date]::-webkit-calendar-picker-indicator:active {
    color: rgb(40, 143, 167);
  }
  
.the-card{
    background: #fff;
    margin: auto;
    border-radius: 5px;
    max-width: 1000px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .045);
}
.the-header{
    color: white;
    text-align: center;
    background: rgb(41, 158, 183)!important;
    font-size: 20px;
}
.view-btn{
   background: rgb(41, 158, 183)!important;
   color:#fff;
}
.view-btn:hover{
    background: rgb(42, 185, 218) !important;
    color:#fff;
 }
.tooltips {
    position: relative;
    display: inline-block;
}

.tooltips .tooltiptexts {
    visibility: hidden;
    width: 160px;
    background: rgb(41, 135, 156);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 28px;
    left: 80%;
}

.tooltips:hover .tooltiptexts {
    visibility: visible;
}
.dash-icon{
    font-size: 20px !important;
    margin: 25px 27px !important;

}
.sidebar-icon{
    font-size: 23px;
    color: #3d3e55;
    margin: 25px 30px ;
    padding: 5px;
    transition:all 0.13s ease-in-out; 
}
.menu-btn{
    float: right;
}
.menu-icon{
    font-size: 20px;
    color: #9a9bc4;
    background: none;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(38, 39, 52, 0.8);
    padding:7px;
    border-radius: 4px;
    transition:all 0.13s ease-in-out; 
}
.menu-icon:hover{
    color:rgb(41, 158, 183);
}
.sidebar-icon:hover{
    color:rgb(41, 158, 183);
}
.logo{
    font-size: 44px;
}
.title{
    font-weight: 600;
    line-height: normal;
    font-size: 26px;
    float: left;
    margin-left: 15px;
    color: #53556E;
}
.book-btn{
    padding: 6px 15px;
    background: rgb(41, 158, 183);
    border-radius: 20px;
    font-weight: bold;
    line-height: normal;
    color: rgb(255, 255, 255);
    float: right;
    margin-right: 50px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}  
.user{
    margin-right: 30px;
    color: #53556E;
    transition: 0.3s ease-in;
}
.user:hover{
    color: rgb(41, 158, 183);
}
.book-btn:hover{
    background: rgb(52, 203, 236);
    color: #fff;
    text-decoration: none;
}
.messages-container{
    max-width: 250px;
    right: 30px;
    bottom: 30px;
    position: fixed;
}
.data-cube{
    width: 156px;
    height: 132px;
}
.main{
    padding: 20px 10px 10px 150px;
}
.top-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
}
.bottom-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
    grid-auto-rows: minmax(200px, auto);       
}
.right-items{
    width: 320px;
    display: grid;
    float: right;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(180px, auto);
}
.available-rooms{
    max-width: 750px;
    height: 355px;
    margin: auto;
}
.card-value{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 32px;
    color: #ffffff;
    text-align: center
}
.icon-text{
    font-size: 14px;
    font-weight: bold;
    color: #53556E;
    text-align: center;
    
}
.requests{
    max-width: 822px;
    height: 260px;
}
.all-cards{
    background: #343548;
    box-shadow: 0px 0px 20px rgba(52, 53, 72, 0.56);
    border-radius: 10px;
}
.bottom-right{
    width: 320px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}
.booked-rooms{
    grid-column: 1/3;
    max-width: 330px;
    height: 205px;
    border-radius: 10px;
}
.sub-header{
    font-size: 20px !important;
    padding: 10px 10px 0px;
    color: rgb(85, 87, 111) !important;
    text-align: center;
}
.td{
    font-size: 12px !important;
    padding: 3px !important;
    border-top: 0.5px solid rgb(85, 87, 111)!important;
    color: #fff !important;
    border-bottom: 0.5px solid rgb(85, 87, 111)!important;
}
.th{
    font-size: 14px !important;
    padding: 3px !important;
    color: rgb(129, 130, 144);
    border-bottom: 1px solid  rgb(85, 87, 111) !important;
    border-top: 1px solid rgb(85, 87, 111) !important;
}
.page-link{
    background: #53556E !important;
    color: #fff !important;
    border: 0.5px solid rgb(101, 104, 134) !important;
}
@media (min-width: 1025px) and (max-width: 1280px ){
    .top-container{
        grid-template-columns: 1fr 1fr;
    }
    .bottom-cards{
        grid-template-columns: 1fr 1fr;
    }
    .menu-btn{
        display: none;
    }
    .side-bar{
        display: block;
    }
}
@media (min-width: 767px) and (max-width: 1024px ){
    .top-container{
        grid-template-columns: 1fr ;
    }
    .bottom-cards{
        grid-template-columns: 1fr;
    }

    .menu-btn{
        display: none !important;
    }
    .right-items{
        max-width: 600px;
        float: none;
        grid-template-columns: 1fr;
        margin: auto;
    }
    .booked-rooms{
        max-width: 670px;
    }
    .bottom-right{
        margin: auto;
    }.side-bar{
        display: block;
    }
}
@media (max-width: 767px ){
    .top-container{
        grid-template-columns: 1fr;
    }
    .bottom-cards{
        grid-template-columns:  1fr;
    }
    .register-student{
    display: none;
    } 
   
   
    .book-btn{
        display: none;
    }

    .menu-btn{
        display: none;
    }
    .right-items{
        max-width: 600px;
        float: none;
        margin: auto;
    }
    .bottom-right{
        margin: auto;
        
    }.side-bar{
        display: none;
    }
    .main{
        padding: 35px 10px 5px 10px;
    }
    .menu-btn{
        display: block;
    }
}
@media (min-width: 320px) and (max-width: 480px ){
    .top-container{
        grid-template-columns: 1fr;
    }
    .side-bar{
        display: none;
    }
    .bottom-cards{
        grid-template-columns:  1fr;
    }
    .main{
        padding: 35px 10px 5px 10px;
    }
    .nav-container{
        padding: 15px 10px 0px 20px;
    }
    .book-btn{
        display: none;
    }
    .title{
        font-size: 20px;
        margin: 8px 5px 5px 5px;
    }
    .menu-btn{
        display: block;
    }

    .nav{
        border-radius:10px;
    }
    .right-items{
        float: none;
        margin: auto;
    }
    .bottom-right{
        margin: auto;
        max-width: 500px;
    }
}
@media (max-width: 320px) {
    .top-container{
        grid-template-columns: 1fr;
    }
    .side-bar{
        display: none;
    }
    .bottom-cards{
        grid-template-columns:  1fr;
    }
    .main{
        padding: 35px 2px 5px 2px;
    }
    .nav-container{
        padding: 15px 10px 0px 20px;
    }
    .book-btn{
        display: none;
    }
    .title{
        font-size: 20px;
        margin: 8px 2px 5px 2px;
    }
    .menu-btn{
        display: block;
    }

    .nav{
        border-radius:10px;
    }
    .right-items{
        float: none;
        margin: auto;
    }
    .bottom-right{
        margin: auto;
    }
}